
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&family=Cormorant+Garamond:wght@300&family=Didact+Gothic&family=Forum&family=Montserrat:wght@200&family=Nunito:wght@200&family=Pinyon+Script&family=Roboto+Condensed:wght@300&display=swap);
@import url(https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css);
@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&family=Cormorant+Garamond:wght@300&family=Didact+Gothic&family=Forum&family=Montserrat:wght@200&family=Nunito:wght@200&family=Pinyon+Script&family=Roboto+Condensed:wght@300&display=swap);
:root {
  --body-color: #fcf9f4;
  --nav-color: #ffffffb0;
  --side-nav: #ffffffe1;
  --text-color: #000000e0;
  --search-bar: #F2F2F2;
  --search-text: #010718;
  --footer-color: rgba(238, 233, 247, 0.692);
  --heading-font: "Oswald";
  --body-font:"Cormorant Garamond";
  --button-font:"montserrat";
  --service-box-h3-font:"tenor sans";--service-box-p-font: "oswald";
  --heading-font: "pinyon script";
  --body-font: "Cormorant Garamond";
  --button-font: "montserrat"
}
.divider{
  margin-top: 80px;
}
.button,
button a {
  color: #000;
  font-family: var(--button-font);
  display: flex
}
.button,
button a,
button i,
nav {
  display: flex
}
.button,
.gallery {
  background-color: transparent
}
.gallery,
body,
nav {
  text-align: center
}
.W9-16,
.gallery {
  grid-template-rows: norepeat(5, 5vw)
}
.Gallery,
.W9-16,
.W9-16 img,
img {
  width: 100%
}
body {
  font-family: var(--body-font);
  line-height: normal;
  background-color: --;
 backdrop-filter: blur(140px);
 background-color: var(--body-color);
  margin: 0
  color:var(--text-color);
  padding:0px 5px;
}
h1,
h3 {
  font-family: var(--heading-font);
  letter-spacing: 1px;
  margin: 0;
  padding-top: 1%
}
p {
  font-family: var(--body-font)
}

button a {
  text-decoration: none;
  font-weight: 1000;
  font-style: normal;
  justify-content: center;
  align-items: center
}
.Gallery,
.button {
  justify-content: center;
  position: relative
}
button i {
  margin-right: 4px;
  align-self: center;
  font-size: 1rem
}
.text {
  display: flex;
  align-items: center;
  text-align: center;
}
.button {
  padding: 10px 22px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, .041);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: .2s;
  margin: auto;
  box-shadow: 0 0 4px rgba(0, 0, 0, .397) inset
}
.button:active {
  transform: scale(.96)
}
.button:after,
.button:before {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat
}
.button:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, .397);
  transition: .4s ease-in-out
}
.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, transparent 20%, #000 20%, transparent 30%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: .6s greentopBubbles
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%
  }
  50% {
    background-position: 0 80%, 0 20%, 10% 40%, 20% 0, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%
  }
  100% {
    background-position: 0 70%, 0 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
  }
}
.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, transparent 10%, #000 15%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%), radial-gradient(circle, #000 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0;
  animation: .6s greenbottomBubbles
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0
  }
  50% {
    background-position: 0 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0
  }
  100% {
    background-position: 0 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0 0, 0 0, 0 0, 0 0, 0 0, 0 0
  }
}
.Gallery {
  padding: 1%;
  top: 0
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;

  justify-content: center;
  align-items: center
}
.img-fluid,
.vid-fluid {
  max-width: 100%;
  margin-top: 1%
}
.W100 {
  max-width: 100%;
  display: block
}
.W9-16 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  margin-top: 1%
}
.W9-16 img {
  height: 100%
}
@media (max-width:768px) {
  .W9-16,
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: norepeat(8, 5vw)
  }
}
@media (max-width:1000px) {
  .W9-16,
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: norepeat(5, 5vw)
  }
}
@media (max-width:1500px) {
  .W9-16,
  .gallery {
    grid-template-rows: norepeat(5, 5vw)
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr)
  }
  .W9-16 {
    grid-template-columns: repeat(3, 1fr)
  }
}
@media (max-width:2000px) {
  .W9-16,
  .gallery {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: norepeat(5, 5vw)
  }
}
@media (max-width:2500px) {
  .W9-16,
  .gallery {
    grid-template-rows: norepeat(5, 5vw)
  }
  .gallery {
    grid-template-columns: repeat(6, 1fr)
  }
  .W9-16 {
    grid-template-columns: repeat(3, 1fr)
  }
}
