@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');
@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&family=Didact+Gothic&family=Forum&family=Nunito:wght@200&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Concert+One&family=Dancing+Script:wght@500&family=League+Script&family=Nanum+Pen+Script&family=Open+Sans:wght@300&family=Raleway:wght@200&family=Space+Mono&display=swap');
@font-face {
        font-family: Madfool;
        src: url(madfool.woff);
}
@font-face {
        font-family: IsIdora;
        src: url(Latinotype\ -\ Isidora-Light.woff);
}
@font-face {
        font-family: Optima;
        src: url(OPTIMA.woff);
}
body {
        scroll-behavior: smooth;
        font-family: 'Roboto Condensed';
        background-color: rgb(255, 255, 255);
}
/* NAVBAR */
.R-img {
        max-width: 100%;
}
.R-img-75 {
        max-width: 75%;
}
.R-img-50 {
        max-width: 50%;
}
.R-img-25 {
        max-width: 25%;
}
a {
        text-decoration: none;
        color: black;
}
nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.671);
        z-index: 100;
        box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.075);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 0.5%;
}
nav .logo{
        max-width:50%;}
nav .logo img {
        filter: grayscale(100%) brightness(0%);
}
nav .back {
        margin-left: 2%;
}
nav li {
        list-style: none;
        background-color: whitesmoke;
        justify-content: center;
        align-items: center;
        text-align: center;
}
.searchBox {
        max-width:50%;
        position: relative;
        margin-right: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.041);
        padding: 0.8%;
        border-radius: 10vw;
}
.searchBox form {
        display: flex;
        margin: auto;
}
.searchBox .search-field input {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        background-color: transparent;
        margin-right: auto;
        outline: none;
        border: none;
        margin-left: 2%;
}
.Gallery-card{
        width: 100%;
        height: auto;
        margin-top: 80px;
        background-color: rgba(255, 255, 255, 0.178);
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
        justify-content: center;
        grid-gap:2%;
        left: 0%;
        text-align: center;
}
.Gallery-card .card-name{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-align: center;
        width: 100%;
}
.Gallery-card h2{
        margin: 0%;
        font-family: "dancing script";
        font-weight: 100;
        display: flex;
        top: 0%;
        color: rgb(255, 255, 255);
        text-align: center;
        
        z-index: -100;
}
.Gallery-card img{
display: flex;
overflow: hidden;
}
.Gallery-card .card-btn{
       margin-top: 1%;
        z-index: 1;
        /* position: absolute; */
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        

}
.Gallery-card .card-btn a  button{
        width: 100%;
        height: 5vh;
        background-color: transparent;
        border-radius: 0.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 1px;
}

.Gallery-card .card{
        max-width: 300px;
        height: 100%;
        /* background-image: linear-gradient(0deg,rgba(200, 239, 255, 0.829),rgb(255, 255, 191),whitesmoke,rgb(255, 187, 187)); */
        display: flex;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 2%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.26);

        border-radius: 0.4vh;
}
.Gallery-card .card:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.116);
        transition: all 0.3s ease-in;    
        
        
      

}
.Gallery-card .card:hover .card-name{
        color: white;
        z-index: 110;
        
}
.Gallery-card .card:hover .card-img{
filter: opacity(60%) brightness(130%) contrast(110%);

}
