@import url(https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css);

@import url(https://fonts.googleapis.com/css2?300&family=Didact+Gothic&family=Forum&family=Nunito:wght@200&family=Roboto+Condensed:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=League+Script&family=Nanum+Pen+Script&family=Open+Sans:wght@300&family=Raleway:wght@200&family);

.center,
body .BG {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0
}


:root {
  --body-color: #fcf9f4;
  --nav-color: #ffffffb0;
  --side-nav: #ffffffe1;
  --text-color: #000000e0;
  --search-bar: #F2F2F2;
  --search-text: #010718;
  --footer-color: rgba(238, 233, 247, 0.692);
  --heading-font: "Oswald";
  --body-font: "Cormorant Garamond";
  --button-font: "montserrat";
  --service-box-h3-font: "tenor sans";
  --service-box-p-font: "oswald";
}

body , html{
  scroll-behavior: smooth;

  background-color: var(--body-color);
  transition: all 0.4s ease;
  background-attachment: fixed;
}




@font-face {
  font-family: Optima;
  src: url(OPTIMA.woff)
}

body {
  scroll-behavior: smooth;
  font-family: 'Roboto Condensed';
  background-color: var(--body-color);
  transition: .8s;
  background-attachment: fixed
}

body .BG {
  backdrop-filter: blur(100px);
  background-position: center;
  background-size: cover;
  z-index: -1;
  filter: blur(3px) opacity(80%) saturate(90%) brightness(98%) contrast(100%);
}

.BG2 {
  display: none;
}

.center {
  display: block;
  display: flex;
  z-index: 10000;
  transition: 2s;
  background-color: rgba(255, 255, 255, .972);
  justify-content: center;
  align-items: center
}

.loader,
.loader .circle {
  width: var(--dim);
  height: var(--dim);
}

.loader {
  --dim: 3rem;
  position: relative;
  animation: 2s linear infinite spin988;
  display: block;
}

.Search-box,
nav {
  width: 100%;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-user-select: none; */
}

.bx:active {
  transform: rotate(90deg) scale(0);
  transition: all 0.2s ease-in-out;
}

.loader .circle {
  --color: #000000c5;
  --dim: 1.2rem;
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 4px #000;
  backdrop-filter: blur(10px);
}

.loader .circle:first-child {
  background-color: rgb(255, 57, 57);
  box-shadow: 0px 0px 8px rgb(255, 57, 60);
  top: 0;
  left: 0;
}

.loader .circle:nth-child(2) {
  background-color: rgb(255, 208, 0);
  box-shadow: 0px 0px 8px rgb(255, 208, 0);
  top: 0;
  right: 0;
}

.loader .circle:nth-child(3) {
  background-color: rgb(255, 96, 249);
  box-shadow: 0px 0px 8px rgb(255, 96, 247);
  bottom: 0;
  left: 0;
}

.loader .circle:nth-child(4) {
  background-color: rgb(88, 146, 255);
  box-shadow: 0px 0px 8px rgb(88, 146, 255);
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(.6) rotate(0);
  }

  20%,
  25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%,
  50% {
    transform: scale(1) rotate(180deg);
  }

  70%,
  75% {
    transform: scale(1.3) rotate(270deg);
  }

  100%,
  95% {
    transform: scale(1) rotate(360deg);
  }
}

.R-img {
  max-width: 100%;
}

.R-img-75 {
  max-width: 75%;
}

.R-img-50 {
  max-width: 50%;
}

.R-img-25 {
  max-width: 25%;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  height: max-content;
  background-color: rgba(255, 255, 255, .438);
  z-index: 100;
  box-shadow: 0 0 32px rgba(0, 0, 0, .075);
  display: flex;
}

nav .nav-bar {
  height: 60px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .8% 4%;
}

.Search-box,
nav .btn {
  justify-content: center;
}

nav .nav-logo img {
  max-width: 100%;
  height: 100%;
  display: flex;
  filter: saturate(0%) contrast(160%) brightness(1%);
}

.Search-box {
  height: 100%;
  z-index: 1000;
  visibility: hidden;
  background-color: #fafafaf1;
  transition: .4s;
}

.Gallery,
.btns {
  height: auto;
  overflow: hidden;
}

.Search-box .search-bar {
  padding: 0 1%;
  width: auto;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 4px rgba(224, 224, 224, .226);
  background-color: #ffffff2c;
}

.Search-box .search-bar .search {
  background-color: #fff;
  border-radius: 1vh;
  box-shadow: 0 0 4px rgba(0, 0, 0, .425);
}

.search-bar .search input {
  width: 100%;
  outline: 0;
  border: none;
  margin-left: 4%;
}

.Search-box form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.Search-box form i {
  display: flex;
  padding: 1%;
}

.Gallery {
  width: 100%;
  display: flex;
  margin-top: 90px;
  background-color: transparent;
}

.Gallery .Gallery-G-card {
  width: 100%;
  height: 100%;
  display: grid;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  gap: 24px;
  justify-content: center;
  padding: 2%;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(7, 7, 7, 0);
  border-radius: 4vh;
  margin: 1% auto auto;
  padding: 4px;
  bottom: 1%;
}

.btns a {
  width: 100px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.G-card,
.G-card img {
  height: auto;
  overflow: hidden;
}

.bx {
  font-size: x-large;
}

.Gallery-G-card .btns button {
  background-color: transparent;
  border: none;
}

.Gallery-G-card .btns i:hover {
  transition: .4s linear;
}

.G-card {
  position: relative;
  width: 100%;
  /*     height: 100%; */
  overflow: hidden;
  padding: 1px 1px;
  border-radius: 1.1vh;
  align-items: center;
  justify-content: center;
  display: block;

  transition: .6s cubic-bezier(.23, 1, .32, 1);
  box-shadow: 0 0 16px rgba(0, 0, 0, .137);
  font-family: optima;
  border: 1px solid rgba(255, 255, 255, .774);
}

.G-card img,
.G-card__content {
  width: 100%;
  height: 160px;
  transition: .6s cubic-bezier(.23, 1, .32, 1);
  overflow: scroll;
}

.G-card img {
  fill: #333;
  width: 100%;
  height: 100%;
}

.G-card:hover {
  transform: rotate(0) scale(1.02);
  box-shadow: 0 0 20px rgba(255, 255, 255, .2);
}

.G-card:hover .G-card__content {
  filter: blur(10%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

.G-card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
}

.G-card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
  font-family: optima, Nunito;
}

.G-card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.2;
}

.btn-download,
.btn-like,
.btn-view {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-color: rgb(255, 255, 255);
  cursor: pointer;
  padding: .9px 4px;
  width: 100%;
  min-height: 100%;
  font-size: 1rem;
  font-family: optima, system-ui, sans-serif;
  font-weight: 100;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  color: var(--btn-bg-color);
}

.G-card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}



.btn-download:hover,
.btn-like:hover,
.btn-view:hover {
  background-position: right top;
  border: none;
}

.btn-like:is(:focus, :focus-visible, :active) {
  outline: 0;
  box-shadow: 0 0 0 0 var(--btn-bg-color), 0 0 0 0 var(--btn-bg-2);
}

.btn-download {
  --btn-bg-1: rgba(166, 255, 178, 0.719);
  --btn-bg-2: rgba(25, 255, 167, 0.836);
  transition: .8s;
  border: none;
  border-radius: .5vh;
  box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 5px 5px -1px rgba(122, 233, 58, .25), inset 4px 4px 8px rgba(182, 255, 175, .5), inset -4px -4px 8px rgba(19, 216, 124, .35);
}

.btn-download:is(:focus, :focus-visible, :active) {
  outline: 0;
  box-shadow: 0 0 0 0 var(--btn-bg-color), 0 0 0 0 var(--btn-bg-2);
}

.btn-view {
  --btn-bg-1: rgba(166, 237, 255, 0.719);
  --btn-bg-2: rgba(169, 202, 255, 0.836);
  transition: .8s;
  border: none;
  border-radius: .5vh;
  box-shadow: 0 0 20px rgba(255, 255, 255, .5), 0 5px 5px -1px rgba(58, 125, 233, .25), inset 4px 4px 8px rgba(175, 230, 255, .5), inset -4px -4px 8px rgba(19, 95, 216, .35);
}

.btn-view:is(:focus, :focus-visible, :active) {
  outline: 0;
  box-shadow: 0 0 0 0 var(--btn-bg-color), 0 0 0 0 var(--btn-bg-2);
}
   
@media (max-width:600px) {
  body .BG2 {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(100px);
    display: flex;
    background-position: center;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(10px) opacity(40%) saturate(120%) brightness(90%)
  }

  .Gallery {
    background-color: transparent;
  }

  .Gallery .Gallery-G-card {
    grid-template-columns: repeat(auto-fit, minmax(180px, 0.8fr));
    padding: 5px 25px;
  }

  .Gallery .Gallery-G-card .G-card {
    width: 100%;
  }

  .Gallery .Gallery-G-card .G-card__content {
    height: 100%;
    padding: 8%;
    font-size: 10px
  }

  .G-card__description {
    font-size: 10px
  }

  .BG {
    display: none
  }
}
 @media (max-width:2000px){
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
}
@media (max-width:1500px){
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
@media (max-width:1000px){
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}
