/* ===== Google Font Import - Poppins ===== */
@import url('https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css');

@import url('https://unpkg.com/aos@2.3.1/dist/aos.css');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@1,300&family=Cormorant+Garamond:wght@600&family=Didact+Gothic&family=Forum&family=Montserrat:wght@200&family=Nunito:wght@200&family=Oswald:wght@700&family=Parisienne&family=Pinyon+Script&family=Quicksand&family=Ramaraja&family=Roboto+Condensed:wght@300&family=Tenor+Sans:wght@400&display=swap');
@import url('https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css');

html,
body {
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x:hidden;
    font-family:"roboto condensed" ;
}
.divider{
    margin-top: 80px;
}
hr{
    margin: 1% 0%;
}
h1 , h2,h3,h4{
    font-family: "oswald";
    font-weight: 100;
    text-align: center;
    color: var(--text-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.4s ease;
    font-family: 'Cormorant Garamond';
    font-weight: normal;
    -webkit-tap-highlight-color: transparent;
    appearance: none;
}
a{
    text-decoration: none;
    background-color: transparent;
}
/* ===== Colours ===== */
:root {
    --body-color: #fcf9f4;
    --nav-color: #ffffffb0;
    --side-nav: #ffffffe1;
    --text-color: #000000e0;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --footer-color: rgba(238, 233, 247, 0.692);
    --heading-font: "Oswald";
    --body-font:"Cormorant Garamond";
    --button-font:"montserrat";
    --service-box-h3-font:"tenor sans";--service-box-p-font: "oswald";
}
body {
    height: 100%;
    background-color: var(--body-color);
    /* background-image: url(body.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100vw;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
/* Loading Animation */
.Animation-body {
    position: fixed;
    transition: all 2s ease-in;
    z-index: 10000;
    width: 100vw;
    height: 100%;
    background-color: #ffffffd5;
}
.Animation-box {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    filter: url('#goo');
    animation: rotate-move 1s ease-in-out infinite;
    transition: all 0.4s linear;
}
.navLogo{
    height: 70px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navLogo img{
    max-width: 50%;
    display: flex;
    margin: auto auto;
}
.dot {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    background-color: #d4d4d4;
    position: absolute;
    filter: blur(1px);
    inset: 0;
    margin: auto;
    transform: scale(1.4);
    animation: rotate-move 2s ease-in-out infinite;
}
.dot-3 {
    background-color: #9cd2ff;
    animation: dot-3-move 1s ease infinite, index 6s ease infinite;
}
.dot-2 {
    background-color: #ff8383;
    animation: dot-2-move 1s ease infinite, index 6s -4s ease infinite;
}
.dot-1 {
    background-color: #ffe285;
    animation: dot-1-move 1s ease infinite, index 6s -2s ease infinite;
}
@keyframes dot-3-move {
    20% {
        transform: scale(1)
    }
    45% {
        transform: translateY(-18px) scale(.45)
    }
    60% {
        transform: translateY(-90px) scale(.45)
    }
    80% {
        transform: translateY(-90px) scale(.45)
    }
    100% {
        transform: translateY(0px) scale(1.5)
    }
}
@keyframes dot-2-move {
    20% {
        transform: scale(1)
    }
    45% {
        transform: translate(-16px, 12px) scale(.45)
    }
    60% {
        transform: translate(-80px, 60px) scale(.45)
    }
    80% {
        transform: translate(-80px, 60px) scale(.45)
    }
    100% {
        transform: translateY(0px) scale(1.5)
    }
}
@keyframes dot-1-move {
    20% {
        transform: scale(1)
    }
    45% {
        transform: translate(16px, 12px) scale(.45)
    }
    60% {
        transform: translate(80px, 60px) scale(.45)
    }
    80% {
        transform: translate(80px, 60px) scale(.45)
    }
    100% {
        transform: translateY(0px) scale(1.5)
    }
}
@keyframes rotate-move {
    55% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
    80% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}
@keyframes index {
    0%,
    100% {
        z-index: 3
    }
    33.3% {
        z-index: 2
    }
    66.6% {
        z-index: 1
    }
}
/* Stickey ICONS */
.icon-box {
    position: fixed;
    width: 7vh;
    height: 7vh;
    right: 1vw;
    bottom: 1vh;
    z-index: 100;
    background-color: whitesmoke;
    border-radius: 10vw;
    overflow: hidden;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.342);
    filter: saturate(400%);
}
.icon-box:hover {
    box-shadow: 0px 0px 64px rgb(13, 228, 13);
    transform: scale(1.03) rotate(360deg);
    transition: all 0.4s ease-in-out;
}
.icon-box  img {
    opacity: 80%;
}
.logo {
    border-radius: 1vh;
    filter: contrast(140%) grayscale(100%) brightness(16%);
    margin: 4vh 0;
}
/* Slider */
.Slider-Container{
    width: 100%;
    height: 320px;
    display: flex;
    background-color:var(--body-color);
   margin-top: 70px;
    overflow: hidden;
    justify-content: center;
    backdrop-filter: blur(1000px);
}
.swiper-button-next::after,.swiper-button-prev::after{
    color: var(--text-color);
    width: 10px;
    height: 10px;
    font-size: 2rem;
    filter: drop-shadow(0px 0px 2px --text-color);
}
 .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background-color: var(--text-color);
    filter: brightness(100%);
    width: 10px;
    height: 10px;
    font-size: 1rem;margin: 4px;
}
.swiper-button-next{
    color:var(--text-color);
}
.Slider-Container .img-box img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    pointer-events: none;
    filter: saturate(110%);
}
 .Slider-Container .img-box{
    height: 320px;
    display: flex;
    filter: opacity(95%);
    overflow: hidden;
 justify-content: center;
 align-items: center;
 backdrop-filter: blur(10%);
}
body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --con-color: #F1F6F9;
    --con-bg-color: #9BA4B5;
    --con-color-1: #394867;
    --con-color-2: #212A3F;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
    box-shadow: 0px 0px 32px rgba(29, 29, 29, 0.466);
}
section {
    align-items: center;
    justify-content: center;
    display: flex;
    scroll-behavior: smooth;
}
.video-box{
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    margin: 1% 0%;
    padding: 1.5%;
    text-align: center;
}
.videos{
    display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap:10px;
        grid-auto-flow: row;
        justify-content: center;
}
.video-box h1{
    margin: 1% 0%;
    color: var(--text-color);
    margin-top: 80px;
}
.videos video{
    max-width: 100%;
    border-radius: 10px;
    transition: all 2s linear;
}
video[poster]{max-width: 100%;background-size: cover;}
.video-box video:hover{
    transform: scale(1.01);
    transition: all 0.8s ease;
}
.About {
    text-align: left;
    background-image: linear-gradient(60deg, #caddffec, #ffffffde, #fdd5fdd5);
    align-items: center;
    width: 100%;
    margin-top: 1vh;
    border-radius: 1vh;
    justify-content: space-evenly;
    display: flex;
    font-size: 16px;
    font-weight: 1000;
    max-width: 2000px;
}
.About .img {
    filter: saturate(200%) grayscale(0%);
}
.About .details {
    backdrop-filter: blur(80px);
    border-left: 1px solid var(--text-color);
    padding: 8px;
    background-color: transparent;
}
.SErvice {
    margin-top:2%;
}
body.dark .About {
    background-image: none;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: all 0.4s ease-in-out;
    backdrop-filter: blur(10px);
}
body.dark .Service-box .container {
    background-color: var(--body-color);
    color: black;
    background-image: linear-gradient(rgb(255, 155, 155), rgb(253, 255, 124),whitesmoke, rgba(183, 232, 255, 0.945));
    background-image: none;
    text-align: center;
    justify-content: center;
}
body.dark .Service-box .heading {
    color: var(--text-color);
}
body.dark nav {
    border: 1px solid #393838;
}
body.dark .logo {
    filter: brightness(800%) grayscale(100%) contrast(400%);
    color: white;
}
body.dark .box-container .box {
    background-color: white;
}
nav .nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
    margin-left: 5%;
}
nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    display: block;
}
.menu .logo-toggle {
    display: none;
}
.nav-bar .nav-links {
    display: flex;
    align-items: center;
    padding: 1px;
    text-align: center;
}
.nav-bar .nav-links li {
    margin: 0 8px;
    list-style: none;
    background-color: transparent;
    border-radius: 0.5vw;
    align-items: center;
    display: flex;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.nav-links li a {
    position: relative;
    font-size: 17px;
   font-weight: bolder;
    color: var(--text-color);
    text-decoration: none;
    padding: 16px;
    border-radius: 1vw;
    font-family: 'tenor sans', 'Forum';
    font-weight: bolder;
    font-variant: all-petite-caps;letter-spacing: 1px;
}
.nav-links li:hover {
    transform: scale(1.05);
    color: #CCC;
    background-color: #77777700;
}
.nav-links li:hover a::before {
    opacity: 1;
}
.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}
.searchBox {
    position: relative;
}
.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: block;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active~.search-field .search {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    appearance: none;  
}
.searchToggle.active~.search-field ul{
    display: block;
    width:100%;
    height: 200px;
    text-align: left;
    background-color: var(--nav-color);
    overflow: scroll;
    list-style-type:none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    padding: 3px;
    border-radius: 6px;
    margin-top: 1rem; 
}
.searchToggle.active~.search-field ul li{
    font-size: 1.2rem;
    width: 100%;
    list-style-type: none;
    color: var(--text-color);
    padding: 0 45px 0 15px;
    margin-top: 0px;
    background-color: var(--search-bar);
    padding:4px;
    border-radius: 2px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    font-family: var(--body-font); 
}
.searchToggle.active~.search-field ul li a{
    color: var(--text-color);
    margin-left: 6px;
    font-size: 1rem;
    font-family: var(--heading-font);
    width: 300px;
}
.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}
.search-field .search input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 900;
    color: var(--search-text);
    background-color: var(--search-bar);
    list-style-type: none;
    appearance: none;
    font-family:"Quicksand";
}
body.dark .search-field input {
    color: var(--text-color);
    list-style: none;
}
.search-field input:focus~ul{
    display: block;
}
.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
body.dark .search-field i {
    color: var(--text-color);
}
/* Service box */
.Service-box .container {
    background: linear-gradient(-100%,rgba(255, 184, 184, 0.925), rgb(254, 255, 171),whitesmoke, rgba(183, 232, 255, 0.774));
    padding: 4%;
    padding-bottom: 100px;
    border-radius: 1vw;
    backdrop-filter: blur(10px);
    filter: saturate(110%);
    width: 100vw;
}
.Service-box .Service-Price{
    text-decoration: none;
    color: #6bdfd7a1;
    text-shadow: 0px 0px 0.2px #6dfff5a1;
    font-size: 1.2rem;
    font-weight: 300;
    bottom: 1px;
    display: flex;
    position: relative;
    text-align: center;
    font-family: oswald;
    backdrop-filter: blur(10px);
    font-variant: all-petite-caps;  
}
.Service-box .Price-box {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: var(--heading-font);
    text-align: center;
}
.Service-box .Price-box a{
    font-family: var(--heading-font);
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: var(--text-color);
}
.Service-box .Price-box a i{
    font-family: var(--heading-font);
    text-decoration: none;
    letter-spacing: 0.2rem;
    color: var(--text-color);
    font-size: 3rem;
}
.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: var(--con-color);
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.8fr));
    gap: 20px;
    justify-content: center;
    margin-top: 1%;
}
body.dark .container .box-container .box{background: black;}
.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 1vh;
    background: #ffffff11;
    text-align: center;
    padding: 30px 20px;
    width: 100%;
}
.container .box-container .box img {
    height: 80px;
}
.container .box-container .box h3 {
    font-size: 1.6rem;
    padding: 10px 0;
    font-family:var(--service-box-h3-font);
    color: var(--text-color);font-weight: 800;font-variant: all-petite-caps;
}
body.dark .container .box-container .box h3{
    color: white;
    font-weight: 600;
}
.container .box-container .box p {
    font-size: 16px;
    line-height: 1.8;
    font-family: var(--service-box-p--font);
    color: var(--text-color);font-variant: all-petite-caps;font-weight: 700;
}
.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #000000c9;
    color: #fff;
    font-size: 17px;
    border-radius: 1vh;
    padding: 8px 25px;
    position: relative;
    bottom: 1px;
    font-family: var(--button-font);
    box-shadow: 0px 1px 2px rgb(66, 66, 66);
}
body.dark .container .box-container .box .btn{
    background: #1b1b1b;
}
.container .box-container .box .btn:hover {
    text-shadow: 0px 0px 4px white;
    background-color: #202020;
    box-shadow: 0px 0px 16px rgb(44, 44, 44);
}
.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    text-shadow: 0px 0px 0.5px var(--text-color);
    transform: scale(1.03);
}
.footer-name h1 {
    font-family: var(--heading-font);
}
footer {
    background-color: var(--nav-color);
    backdrop-filter: blur(100px);
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--con-color);
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    transition: all 0.2s ease-out;
    padding: 10px;
    scroll-behavior: smooth;
    background-attachment: fixed;
}
/* Team info */
.Team{
    width: 100%;
    max-width: 2000px;
    height: auto;
    display: flex;
    display: block;
    justify-content: center;
    text-align: center;
    justify-content: center;
     margin-top: 1px;
}
.Team .Team-Cont{
    padding: 4%;
}
.Team .Team-Cont hr{
    width: 80%;
    display: flex;
    margin: auto;
}
.team-box{
    width: 100%;
    max-width: 2000px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
    align-items: center;
    justify-content: space-around;
    gap:10px;
    padding: 1%;
}
.Team h2{
    color: var(--text-color);font-family: var(--heading-font);
}
.card {
    width: 240px;
    height: 280px;
    background: var(--nav-color);
    border-radius: 1vh;
    padding: 3px;
    position: relative;
margin: auto;
display: flex;
display: block;
    box-shadow: #604b4a30 0px 70px 30px -50px;
    transition: all 0.5s ease-in-out;
  }
  .card .mail {
    position: absolute;
    right: 2rem;
    top: 1.4rem;
    background: transparent;
    border: none;
  }
  .card .mail i {
    stroke: var(--text-color);
    color: var(--text-color);
    font-size: 1.4rem;
    stroke-width: 3px;
  }
  .card .mail i:hover {
    color: red;
  }
  .card .profile-pic {
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    top: 3px;
    left: 3px;
    border-radius: 1vh;
    z-index: 1;
    border: 0px;
    overflow: hidden;
    transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
  }
  .card .profile-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transition: all 0.5s ease-in-out 0s;
  }
  .card .profile-pic svg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0px 0px;
    object-position: 0px 0px;
    transform-origin: 45% 20%;
    transition: all 0.5s ease-in-out 0s;
  }
  .card .bottom {
    position: absolute;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background: rgba(18, 18, 19, 0.329);
    top: 80%;
    border-radius: 0;
    z-index: 2;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    backdrop-filter: blur(2px);
  }
  .card .bottom .content {
    position: absolute;
    bottom: 0;
    left: 1.5rem;
    right: 1.5rem;
    height: 160px;
  }
  .card .bottom .content .name {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    font-family: var(--heading-font),'nunito';
    margin-top: 1px;
  }
  .card .bottom .content .salt{
    display: block;
    color: white;
    font-size: 14px;
    margin:0px 1px;
    font-family: var(--body-font);
  }
  .card .bottom .content .name-bins h4{
    display: block;
    font-family: optima;
    color: white;
    margin-top: 2px;
  }
  .card .bottom .content .about-me {
    display: block;
    font-size: 0.9rem;
    color: white;
    margin-top: 1rem;
    font-family:optima;
  }
  .card .bottom .bottom-bottom {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card .bottom .bottom-bottom .social-links-container {
    display: flex;
    gap: 1rem;
  }
  .card a{
    color: #000000;
    text-decoration: none;
  }
  .card .bottom .bottom-bottom .social-links-container i {
    height: 20px;
    fill: white;
    font-size: 1.4rem;
    color: white;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.822));
  }
  .card .bottom .bottom-bottom .social-links-container i:hover {
    color: #96d5ff;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.822));
    transform: scale(1.1);
  }
  .card .bottom .bottom-bottom .button {
    background: white;
    color: #fbb9b6;
    border: none;   
    border-radius: 5vh;
    font-size: 0.6rem;
    padding: 0.4rem 0.6rem;
    box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
    font-family: var(--button-font);
  }
  .card .bottom .bottom-bottom .button:hover {
    background: #a6deff;
    color: white;
  }
  .card:hover {
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
  }
  .dark-light.active .card:hover{
    box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.192);
  }
  .card:hover .bottom {
    top: 20%;
    border-radius: 80px 29px 29px 29px;
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  }
  .card:hover .profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    z-index: 3;
    border: 2px solid #ffffff;
    box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
    transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
  }
  .card:hover .profile-pic:hover {
    transform: scale(1.05);
  }
  .card:hover .profile-pic img {
    transform: scale(1.5);
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out 0.5s;
  }
/* divison line */
.footer-heading h2,
.footer-icons h3 {
    font-family: var(--heading-font);
}
.footer .footer-update {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
}
.footer-update .footer-gallery img {
    border-radius: 0.5vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-gallery h4 {
    width: 100%;
    display: block;
    display: flex;
}
.footer-update .footer-gallery img:hover {
    transform: scale(1.4);
    transition: all 0.4s ease-in;
}
.footer-update .footer-gallery .G-box {
    width: 100%;
    overflow: hidden;
}
.footer-update .footer-gallery {
    width: 65vw;
    background-color: transparent;
    border-radius: 0.1vh;
    margin: 0.5vw;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: norepeat(5, 5vw);
    grid-gap: 5px;
    padding: 8px;
    margin-bottom: 8%;
    border-left: 0.2vh solid var(--text-color);
    padding-left: 4%;
    overflow: hidden;
    height: auto;
}
.footer-update .form {
    width: 30vw;
    background-color: transparent;
    border-radius: 0.5vh;
    margin: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    display: block;
    padding: 10px;
}
.footer-update .form form {
    display: flex;
    display: block;
    justify-content: space-around;
}
.footer-update input {
    outline: none;
    width: 60%;
    border: 0.4vh solid #ffffffb4;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 4vh;
    padding: 1%;
    box-shadow: 0px 0px 8px #00000032;
    display: block;
    display: flex;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    filter: saturate(400%);
    font-family: var(--button-font);
}
.footer-update button {
    width: 60%;
    padding: 1%;
    border-radius: 4vh;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: 0px 0px 8px #00000027;
    display: block;
    display: flex;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--button-font), 'Didact Gothic';
    font-weight: 400;
    backdrop-filter: blur(10px);
}
.footer-update input:focus {
    background-color: #90e9ffd8;
    filter: saturate(110%);
    transition: 0.4s ease-in;
}
.footer-update button:hover {
    background-color: #d0f8ffc2;
    transition: all 0.4s ease-in;
    color: #000000b8;
    transform: scale(1.03);
    backdrop-filter: none;
    filter: none;
}
.footer-icons .icon-box-2 {
    display: flex;
    background-color: transparent;
    width: 100%;
    padding: 1%;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
    margin-top: 2%;
    margin: auto;
}
.footer-icons .icon-box-2 ul{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.footer-icons {
    display: flex;
    width: 100%;
    justify-content:space-around;
    height: auto;
    padding: 1%;
    margin-bottom: 2%;
    background-attachment: fixed;
}
.footer-icons div{
    width: 100%;
    margin: 1%;
    display: flex;
    display: block;
    flex-wrap: wrap;
    padding: 0.5%;
}
.footer-icons li {
    list-style: none;
    margin-left: 10%;
    margin-top: 1%;
    width: 100%;
}
.footer-icons .links li:hover  a{
    transform: scale(1.03);
    color: #212A3F;
    border-radius: 0.4vh;
    transition: all 0.2s ease-in;
    padding: 1px;
}
.footer-icons .links ul{
    display: flex;
    width:100%;
    justify-content: center;
    text-align: center;
}
.footer-icons .links li:hover a {
    color: #7196eb;
}
.footer-icons .links a {
    text-decoration: none;
    font-family: var(--body-font);
    color: var(--text-color);
    width: max-content;
    display: flex;
   padding: 1%;
   padding-left: 4%;
}
.footer-icons .links {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 4%;
    width: 100%;
}
.footer-icons h4 {
    font-family: var(--heading-font);
}
.footer-icons .icon-box-2 li {
    width: 9vh;
    height: 9vh;
    background-color: transparent;
    border-radius: 0.5vh;
    margin: 1%;
    margin-left: auto;
    list-style: none;
    overflow: hidden;
    display: flex;
    padding: 4%;
}
.footer-icons .icon-box-2 li a {
    width: 100%;
    height: auto;
    padding: 4%;
}
.footer-icons .icon-box-2 li a img {
    width: 100%;
    height: auto;
    filter: saturate(240%);
}
.footer-icons .icon-box-2 li:hover {
    transition: all 0.2s ease-in;
    transform: translateY(-4px) scale(1.09);
    filter: saturate(100%) brightness(120%);
}
.footer-details {
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.footer-details .back {
    width: 5vh;
    height: 5vh;
    list-style: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 4vh;
    margin: auto;
    margin-bottom: 1%;
    box-shadow: 0px 0px 8px rgba(117, 117, 117, 0.185);
}
.footer-details li a {
    width: 100%;
    height: auto;
    color: var(--text-color);
    text-decoration: none;
    font-family: var(--body-font);
}
.footer-details a{
    text-decoration: none;
    color: var(--text-color);
}
.footer-details li a img {
    width: 100%;
}
.Contact h2 , .video-box h1{
    border-top: 2px solid var(--text-color);
    border-bottom: 2px solid var(--text-color);
    border-radius: 0.5vh;
    width: 80%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 2rem;
}
.Contact {
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Contact .Contact-box {
    display: flex;
    height: auto;
    justify-content: space-around;
    text-align: center;
    display: block;
    align-items: center;
    padding-top:0px 4px;
}
.Contact .Contact-box .Gog {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0.5vh;
    margin: 0.5%;
    color: var(--text-color);
    list-style: none;
    overflow: hidden;
    padding: 0px 10px;
    display: flex;
    justify-content: space-evenly;
}
 .Contact-box .contact-info  h3{
    text-align: left;
}
.Contact-box .contact-info p{
    font-size: 1rem;
}
.Contact-box .contact-info {
    width: auto;
  }
  .Contact-box .map{
    display: flex;
  }
.Contact .Contact-box .Gog .address h3 , h4{
  text-align: left;
}
.design-line{
    border: 2px solid var(--text-color);
    width: 5px;
    display: inline;
    border-radius: 1rem;
}
.address , .email , .Call{
    margin-top:1rem;
}
.address p, .email  p, .Call , p{
    font-family: "tenor sans";
}
.Contact .Contact-box .Gog iframe {
    height: 300px;
    padding: 4px 4px;
    /* margin: auto;
    display: flex; */
    color: var(--text-color);
    font-family: var(--body-font);
}
.Contact .Contact-box .Gog a img {
    width: 100%;
    height: auto;
    filter: saturate(240%);
}
footer .Contact .Contact-box .Gog a img:hover {
    filter: saturate(200%) brightness(116%);
}
footer .Contact .Contact-box .Gog:hover {
    transform: translateY(-4px) scale(1.05);
}
footer .Contact .Gog:hover~h6 {
    transform: translateY(-10px);
}
.Active,.nav-links li:hover {
    background-color: rgba(0, 204, 255, 0.116);
    /* background-color: rgb(255, 255, 182); */
    color: black;
 }
 /* .bx:active {transform: rotate(90deg) scale(0);transition: all 0.2s ease-in-out ;
    ;
 background-color: transparent;} */
@media (max-width:320px) {
    * {
        font-size: xx-small;
        -webkit-tap-highlight-color: transparent;
    }
    .container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 0.8fr));
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:768px) {
    *{
        -webkit-tap-highlight-color: transparent;
    }
    .Service-box .Service-Price{
    text-decoration: none;
    color: #6bdfd7a1;
    text-shadow: 0px 0px 0.2px #6dfff5a1;
    font-size: 1.2rem;
    font-weight: 300;
    bottom: 1px;
    display: flex;
    position: relative;
    text-align: center;
    font-family: oswald;
    backdrop-filter: blur(10px);
    font-variant: all-petite-caps;
    }
    .container .box-container {
        display: grid;
        gap: 20px;
    }
    .footer .footer-gallery {
        width: 95%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: norepeat(5, 5vw);
        padding: 0%;
    }
    .team-box{
            display: flex;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
    }
    .videos{
        display: grid;
            grid-template-columns: auto ;
            grid-template-rows: 1fr 1fr 1fr;
            gap:10px;
            grid-auto-flow: row;
            justify-content: center;
    }
    .container .box-container .box img {height: 50px;padding: 1%;border-radius: 0.8vh;}
}
@media (max-width: 450px) {
    html,
    body {
        scroll-behavior: smooth;
        scroll-snap-type: proximity;
        background-attachment: fixed;
    }
    *{
        -webkit-tap-highlight-color: transparent;
    }
    .About {
        background-color: #ffffff;
        background-image: none;
        background-color: rgba(255, 255, 255, 0.603);
    }
    .details {
        margin-top: 20vh;
        background-color: rgba(255, 255, 255, 0.603);
        border-left: 0.8vh solid rgba(71, 71, 71, 0.075);
        backdrop-filter: blur(100px);
    }
    .container {
        background-image: linear-gradient(90deg, rgba(255, 255, 167, 0.493), rgba(255, 255, 255, 0.445), rgba(255, 222, 152, 0.411), rgba(176, 239, 255, 0.699));
        backdrop-filter: opacity(110%);
    }
    .container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 0.8fr));
        gap: 20px;
        padding: auto;
        margin: auto;
        overflow-wrap: break-word;
    }
    .container .box-container .box {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        border-radius: 5px;
        background: #ffffff9a;
        text-align: center;
        padding: 16px 16px;
    }
    .container .box-container .box img {
        height: 50px;
    }
    .container .box-container .box h3 {
        color: var(--text-color);font-weight: bold;
        font-size: 18px;
        padding: 8px 0;
        font-family:var(--service-box-h3-font) ;
    }
    .container .box-container .box p {
        font-size: 12px;
        line-height: 1;
        color: var(--text-color);font-family: var(--service-box-p-font);
    }
    .container .box-container .box .btn {
        margin-top: 10px;
        display: inline-block;
        background: #333333d2;
        color: #fff;
        font-size: 10px;
        border-radius: 5px;
        padding: 8px 20px;
    }
    .container .box-container .box .btn:hover {
        letter-spacing: 1px;
    }
    .container .box-container .box:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
        transform: scale(1.03);
    }
      .card:hover {
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.192);
      }
      .dark-light.active .card:hover{
        box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.192);
      }
    .footer-icons {
        width: 100%;
        padding: 0.8%;
        display: block;
        justify-content: center;
        margin: 10px;
    }
    .footer .Icon-box {
        width: 6vh;
        height: 6vh;
        border-radius: 8vh;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0%;
    }
    .Icon-box-img {
        border-radius: 1vh;
    }
    .footer-icon-title {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer-details-Nilakanth-photography {
        margin: auto;
        display: flex;
        padding-top: 2%;
    }
    .footer a {
        width: 6vh;
        height: 6vh;
    }
    .footer-img {
        width: 100%;
        filter: saturate(200%);
        height: auto;
    }
    .icon-box {
        width: 8vh;
        height: 8vh;
    }
    .Icon-box-img {
        width: 4vh;
        height: 4vh;
    }
    .footer-update .footer-gallery {
        display: block;
        display: grid;
        width: 100%;
        flex-wrap: wrap;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: norepeat(5, 5vw);
        grid-gap: 10px;
        margin-bottom: 1%;
        padding: 2%;
        width: 100%;
    }
    .footer .footer-icons .links li:hover {
        border: none;
    }
    .footer .links li:hover a {
        transform: translate(-4px);
    }
}
@media (max-width: 960px) {
    * {
        scroll-behavior: smooth;
        background-attachment: fixed;
        transition: all 0.2s linear;
        scrollbar-color: var(--con-bg-color);
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
    }
    .Slider-Container{
        height: 200px;
        padding: 0%;
    }
    .Slider-Container .img-box{
        height: 200px;
        opacity: 90%;
    }
    .swiper-pagination{
        background-color: #ffffff00;
        display: none
        ;
    }
    .navLogo{
        display: flex;
    }
    .navLogo img{
        margin: auto auto; 
        display: flex;
    }
    .Service {
        min-width: 10vw;
        height: auto;
        font-size: 12px;
        padding: 8%;
    }
    .About .details {
        background-color: transparent;
    }
    .Service-box {
        background-color: transparent;
    }
    nav .nav-bar .sidebarOpen {
        display: block;
    }
    .nav-bar .nav-links {
        justify-content: space-evenly;
        padding: 0%;
        margin: 0%;
        display: flex;
        display: inline-block;
    }
    .nav-bar .nav-links li a {
        padding: 0%;
        margin: 0%;
        color: whitesmoke;
        width: 20vh;
        margin: auto;
    }
    .nav-bar .nav-links li {
        /* height: auto;
        width: auto; */
        margin-top: 3%;
        background-color: black;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.158);
        padding: 1vh;
        border-radius: 10vw;
        transition: all 0.2s ease;
    }
    .nav-bar .nav-links a:focus {
        background-color: transparent;
        box-shadow: none;
    }
    .About {
        text-align: left;
        background-color: transparent;
        align-items: center;
        color: var(--text-color);
        width: 100%;
        margin-top: 10vh;
        border-radius: 1vh;
        justify-content: space-evenly;
        display: block;
    }
    .dark-light .nav-bar .nav-links .li a {
        color: whitesmoke;
    }
    .nav-links li:hover a{
        color: #000000;
    }
    /**/
    nav .navbar .links li .arrow{
        line-height: 40px;
      }
    nav .navbar .links li{
        display: block;
      }
    nav .navbar .links li .sub-menu{
      position: relative;
      top: 0;
      box-shadow: none;
      display: none;
    }
    nav .navbar .links li .sub-menu li{
      border-bottom: none;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        padding:8% 4%;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.2s linear;
        justify-content: space-evenly;
        backdrop-filter: blur(4px) brightness(110%);
        align-items: center;
        justify-content: center;
        display: flex;
        display: block;
        box-shadow: 0px 0px 4px rgba(92, 91, 91, 0.699);
    }
    .menu::before{
        content: 'Designed By : Yash Patel';
        font-size: 12px;
        position: absolute;
        bottom: 0.5%;
        justify-content: center;
        margin: auto;
        left: 10%;
        right: 10%;
        width: 80%;
        color: var(--text-color);
        opacity: 44%;
    }
    nav.active .menu {
        left: -0%;
        transition: all 0.2s ease-in-out;
    }
    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle {
        display: block;
        width: 100%;
        /* display: flex; */
        margin: auto;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease-in-out;
    }
    .bx:active{transform: rotate(90deg) scale(0);transition: all 0.2s ease-in-out;}
    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
    .footer .footer-update {
        display: block;
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        height: max-content;
        justify-content: center;
    }
    .footer .footer-update .line {
        display: none;
    }
    .footer .footer-update .form {
        width: 100%;
    }
    .footer-update .footer-gallery {
        display: block;
        display: grid;
        grid-gap: 5px;
        margin-bottom: 1%;
        padding: 4%;
        border: none;
        border-top: 2px solid var(--text-color);
    }
    .footer-icons {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        overflow: hidden;
        margin: auto;
    }
    .footer-icons .links {
        width: 100%;
        display: flex;
    }
    .footer-icons .links ul{
        display: block;
        flex-wrap: wrap;
        display: flex;
    }
    .footer-icons .links li {
        width: 100%;
        margin: 1%;
        font-size: 12px;
        display: block;
        display: flex;
        justify-content: center;
    }
    .footer-icons .links li a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-icons .links li:hover {
        transform: translateX(8px);
        color: #212A3F;
        border-radius: 0.4vh;
        transition: all 0.2s ease-in;
        padding: 0.5px;
        padding-left: 4%;
        border: none;
  }
    .footer-icons .links li:hover a {
        color: #7196eb;
    }
     .Team{
        background-image: linear-gradient(90deg, rgba(255, 255, 167, 0.493), rgba(255, 255, 255, 0.445), rgba(255, 222, 152, 0.411), rgba(176, 239, 255, 0.699));
        backdrop-filter: opacity(110%);
        margin-top: 0%;
        padding: 4%;
    }
    .Team hr{
        color: #000000;
    }
     body.dark .Team{
        background-color:var(--body-color);
        background-image: none;
        margin-top: 0%;
    }
    .team-box{
        display: flex;
        padding: 0%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 0.8fr));
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .card{
        width: 180px;
        height: 200px;
    }
    .card .bottom .bottom-bottom{
        bottom: 0.4rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1%;
    }
    .card .bottom .bottom-bottom .social-links-container {
        display: flex;
        gap: 0.1rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: 0.2rem;
      }
      .card a{
        color: #000000;
        text-decoration: none;
      }
      .card .bottom .bottom-bottom .social-links-container i {
        height: 20px;
        fill: white;
        font-size: 1.1rem;
        color: white;
        filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.822));
      }
      .card .bottom .bottom-bottom .button{
        padding: 0.2rem 0.4rem;
        border-radius: 1vh;
        margin-left: 6%;
        font-family: var(--button-font);
      }
      .card .bottom .bottom-bottom .button:hover {
        background: #a6deff;
        color: white;
      }
      .card:hover .bottom {
        top: 22%;
        border-radius: 80px 29px 29px 29px;
        transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
        padding: 1%;
      }
      .card:hover .profile-pic {
        width: 60px;
        height: 60px;
        aspect-ratio: 1;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        z-index: 3;
        border: 2px solid #ffffff;
        box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
        transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;
      }
      .card:hover .profile-pic:hover {
        transform: scale(1.05);
      }
      .card:hover .profile-pic img {
        transform: scale(1.3);
        background-position: center;
        background-size: cover;
        transition: all 0.5s ease-in-out 0.5s;
      }
      .card .bottom .content {
        position: absolute;
        padding: 4%;
        bottom: 0;
        left: 1.5rem;
        right: 1.5rem;
        height: 160px;
      }
      .card .bottom .content .name {
        display: block;
        font-size: 16px;
        color: white;
        font-weight: bold;
        margin-top: 23%;
      }
      .card .bottom .content .salt{
        display: block;
        color: white;
        font-size: 12px;
        margin:0px 1px;
      }
      .card .bottom .content .name-bins h4{
        display: block;
        color: white;
        margin-top: 2px;
        font-size: 0.7rem;
      }
      .card .bottom .content .about-me {
        display: block;
        font-size: 0.6rem;
        color: white;
        margin-top: 1rem;
      }
      .nav-links li:hover ,.Active , .Active  .nav-links li{
        transform: scale(1.01);
        box-shadow: 0px 0px 10px rgb(255, 255, 255) inset;
        color: #0dfcf0;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        transform: scale(1.03);
        filter: brightness(110%);
    }
    .Active  {
        background-color: var(--nav-color);
    }
    .nav-bar .nav-links .Active{
        background-color: white;
        color: black;
    }
    .Contact .Contact-box .Gog{
        margin: auto;
        display: block;
        justify-content: center;
        padding: 0px 25px;
    }
    .Contact .Contact-box .Gog .map{
        margin-top: 1rem;
        width: 100%;
        padding: 0%;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 1400px) {
    nav .nav-bar {
        position: relative;
        height: 100%;
        max-width: 2000px;
        width: auto;
        background-color: var(--nav-color);
        margin: 0 auto;
        padding: 0 4px;
        display: flex;
        text-align: center;
        border-radius: 0.8rem;
    }
    .logo {
        left: 4px;
    }
    li {
        width: max-content;
    }
    .footer-icons {
        display: flex;
        display: block;
    }
    .footer-icons .links li{
        margin-left: 1%;
        padding: 1%;
        display: contents;
    }
    .footer-icons .links ul{
        width: 60%;
        margin: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
    }
    .footer-icons .links{
        padding: 2%;
    }
}
@media (max-width: 2000px) {
    nav .nav-bar {
        position: relative;
        height: 100%;
        max-width: 2000px;
        width: 100%;
        background-color: var(--nav-color);
        margin: 0 auto;
        padding: 0 4px;
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
        text-align: center;
        border-radius: 0.8rem;
    }
    .logo {
        left: 1px;
        font-family: 'Oswald';font-variant: all-petite-caps;
    }
    li {
        width: max-content;
    }
    .nav-links li a {
        position: relative;
        font-size: 15px;
        color: var(--text-color);
        text-decoration: none;
        padding: 10px;
        border-radius: 4px;
    }
}
@media (max-width: 3000px) {
    .nav-bar {
        font-size: 32px;
    }
}
