/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@font-face {
    font-family: Madfool;
    src: url(madfool.woff);
}
@font-face {
    font-family: IsIdora;
    src: url(Latinotype\ -\ Isidora-Light.woff);
}
@font-face {
    font-family: Optima;
    src: url(Optima\ Medium.woff);
    src: url(Optima_Italic.woff);
    src: url(OPTIMA.woff);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.4s ease;
    font-family: 'Roboto Condensed';
}
/* ===== Colours ===== */
:root {
    --body-color: #fcf9f4;
    --nav-color: #ffffffb0;
    --side-nav: #ffffffe1;
    --text-color: #0c0c0c;
    --search-bar: #F2F2F2;
    --search-text: #010718;
    --footer-color: rgba(238, 233, 247, 0.692);
}
body {
    height: 100%;
    background-color: var(--body-color);
    /* background-image: url(body.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Didact Gothic', sans-serif;
}

/* Stickey ICONS */
.icon-box {
    position: fixed;
    width: 9vh;
    height: 9vh;
    right: 1vw;
    bottom: 1vh;
    z-index: 100;
    background-color: whitesmoke;
    border-radius: 10vh;
    overflow: hidden;
    box-shadow: 0px 0px 64px rgba(0, 0, 0, 0.342);
    filter: saturate(400%);
}
.icon-box:hover {
    box-shadow: 0px 0px 64px green;
    transform: scale(1.03);
    transition: all 0.4s ease;
}
.icon-box img:hover {
    overflow: hidden;
    transform: scale(1.03);
}
.icon-box img {
    opacity: 80%;
}
background-image {}
.logo {
    /* border-top-left-radius: 1vh;
    border-top-right-radius: 1vh; */
    border-radius: 1vh;
    filter: contrast(140%) grayscale(100%) brightness(16%);
    margin: 4vh 0;
}
body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #CCC;
    --search-bar: #242526;
    --con-color: #F1F6F9;
    --con-bg-color: #9BA4B5;
    --con-color-1: #394867;
    --con-color-2: #212A3F;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
    /* border-radius: 0.8rem; */
    overflow: visible;
    box-shadow: 0px 0px 32px rgba(29, 29, 29, 0.466);
}
section {
    align-items: center;
    justify-content: center;
    display: flex;
}
h1 {
    font-family: 'Forum', cursive;
}
.About {
    text-align: left;
    background-color: #ffffff;
    background-image: linear-gradient(60deg, #caddffec, #ffffffde, #fdd5fdd5);
    align-items: center;
    color: #161616;
    width: 100%;
    margin-top: 10vh;
    border-radius: 1vh;
    justify-content: space-around;
    display: flex;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    text-shadow: 0px 0px 0.4px black;
    backdrop-filter: blur(100px);
    max-width: 2600px;
}
.About .img {
    filter: saturate(200%) grayscale(0%);
}
.details {
    backdrop-filter: blur(80px);
    border-left: 1px solid rgb(255, 189, 189);
    padding: 8px;
}
.SErvice {
    background-color: #161616;
}
body.dark nav {
    border: 1px solid #393838;
}
body.dark .logo {
    filter: brightness(800%) grayscale(100%) contrast(400%);
}
nav .nav-bar {
    position: relative;
    height: 100%;
    /* max-width: 2000px; */
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 0.8rem;
}
nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}
nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}
.menu .logo-toggle {
    display: none;
}
.nav-bar .nav-links {
    display: flex;
    align-items: center;
    padding: 1px;
    text-align: center;
}
.nav-bar .nav-links li {
    margin: 0 8px;
    list-style: none;
    background-color: transparent;
    border-radius: 0.5vw;
    align-items: center;
    display: flex;
    text-align: center;
    box-shadow: 0px 0px 4px rgba(224, 224, 224, 0.719) inset;
    transition: all 0.2s ease-in-out;
}
.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
    padding: 16px;
    border-radius: 1vw;
    font-family: 'Didact Gothic' , 'Forum';
}
.nav-links li:hover {
    transform: scale(1.1);
    color: #CCC;
    background-color: #77777734;
}
.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    backdrop-filter: blur(1px);
    bottom: 0;
    transform: translateX(-50%);
    height: 0.3vh;
    width: 100%;
    border-radius: 8vw;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.4s ease-in;
}
.nav-links li:hover a::before {
    opacity: 1;
}
.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}
.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}
.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}
.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}
.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}
.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}
.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}
.searchBox {
    position: relative;
}
.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchToggle.active~.search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}
.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}
.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px 0 15px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    color: var(--search-text);
    background-color: var(--search-bar);
}
body.dark .search-field input {
    color: var(--text-color);
}
.search-field i {
    position: absolute;
    color: var(--nav-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
body.dark .search-field i {
    color: var(--text-color);
}
/* SErvice BOXES */
.Service-box {
    background-color: transparent;
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.479); */
    border-radius: 1vh;
}
.Service {
    width: 20vw;
    height: 30vh;
    background-color: #18191A;
    background-image: linear-gradient(30deg, rgba(238, 203, 203, 0.911), rgba(202, 255, 255, 0.89), rgba(224, 232, 255, 0.616));
    color: #000000;
    font-size: small;
    border-radius: 1vh;
    margin: 4vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    display: block;
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.479);
    padding: 8px;
}
.box h3{
    font-family: '';
}
.Heading {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/* Service box */
.container {
    background: linear-gradient(45deg, rgb(255, 199, 199), rgb(254, 255, 171), rgba(183, 232, 255, 0.445));
    padding: 8%;
    padding-bottom: 100px;
    border-radius: 1vw;
    backdrop-filter: blur(10px);
    filter: saturate(110%);
}
.container .heading {
    text-align: center;
    padding-bottom: 15px;
    color: var(--con-color);
    text-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    font-size: 50px;
}
.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.8fr));
    gap: 20px;
}
.container .box-container .box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}
.container .box-container .box img {
    height: 80px;
}
.container .box-container .box h3 {
    color: #444;
    font-size: 22px;
    padding: 10px 0;
}
.container .box-container .box p {
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}
.container .box-container .box .btn {
    margin-top: 10px;
    display: inline-block;
    background: #000000af;
    color: #fff;
    font-size: 17px;
    border-radius: 4vw;
    padding: 8px 25px;
}
.container .box-container .box .btn:hover {
    letter-spacing: 1px;
    background-color: #363636;
    box-shadow: 0px 0px 8px rgb(44, 44, 44);
}
.container .box-container .box:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    transform: scale(1.03);
}
.footer-name h1{
    font-family: 'Monopoly';
}
.Icon-box{
    width: 10vh;
    height: 10vh;
    border-radius: 1vh;
    padding: 10px;
    margin: 1vh;
}
.Icon-box-img{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    filter: saturate(200%);
    filter:opacity(60%);
}
.Icon-box-img:hover{
    filter: saturate(200%) opacity(110%);
    backdrop-filter: blur(1px);
    transform: scale(1.05);
    transition: all 0.4s ease-in-out;
    background-color: transparent;
}
.footer-img {
    width: 200px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}
.footer-img img{
    width: 100%;
    filter: saturate(200%);
    height: auto ;
}
footer{
    background-color: var(--nav-color);
    /* background-image: linear-gradient(90deg,#3f4d50ec,#ffffffa8,#2c2a2b); */
    backdrop-filter: blur(100px);
    justify-content: center;
    align-items:center;
    display: flex;
    color:var(--con-color);
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
    transition: all 0.2s ease-out;
    padding: 10px;
}
/* divison line */
 .footer .footer-update .line{
width:1px;
display: none;
border: 1px solid var(--text-color);
height: relative;
color: var(--text-color);
border-radius: 4vh;
}
.footer-heading{
    width:100%;
    height: auto;
    display: flex;
    display: block;
    align-items: center;
    justify-items:center;
    justify-content: center;
    margin: auto;
}
.footer-heading h2 , .footer-icons h3{
    font-family: 'Didact Gothic';
}
.footer .footer-update{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 1%;
}
.footer-update  .footer-gallery img{
    border-radius: 1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-gallery h4{
    width: 100%;
    display: block;
    display: flex;
}
.footer-update  .footer-gallery img:hover{
    transform:  scale(1.4);
    transition: all 0.4s ease-in;
}
.footer-update .footer-gallery .G-box{
    width: 100%;
    overflow: hidden;
    
}
.footer-update  .footer-gallery{
    width: 65vw;
    background-color:transparent;
    border-radius: 1px;
    margin:0.5vw;
    display: grid;
    justify-content: center;
    align-items:flex-start;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: norepeat(5, 5vw);
    grid-gap: 5px;
    padding: 8px;
    margin-bottom: 8%;
    border-left: 0.2vh solid var(--text-color);
    padding-left: 4%;
    overflow: hidden;
    height: auto;
}
.footer-update .form {
    width: 30vw;
    background-color: transparent;
    border-radius: 0.5vh;
    margin:0.5vw;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    text-align: center;
    display: block;
    padding: 10px;
}
.footer-update .form form{
    text-align: center;
    display: flex;
    display: block;
    justify-content: space-around;
    align-items: center;
}
.footer-update input{
    outline: none;
    width: 60%;
    border: 0.4vh solid #ffffffb4;
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 4vh;
    padding: 1%;
    box-shadow: 0px 0px 8px #00000032 ;
    display: block;
    display: flex;
    margin: auto;
    margin-top: 8%;
    text-align: center;
    filter:saturate(400%);
    font-family: 'Optima';
}
.footer-update button {
    width: 60%;
    padding:1%;
    border-radius: 4vh;
    background-color:#ffffff;
    color:rgb(0, 0, 0);
    border: none;
    box-shadow:0px 0px 8px #00000027 ;
    display: block;
    display: flex;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:'optima', 'Didact Gothic';
    backdrop-filter: blur(10px);
}
.footer-update input:focus{
    background-color: #cef5ff98;
    filter: saturate(110%);
    transition: 0.4s ease-in;
    /* transform: scale(1.03); */
}
.footer-update button:hover{
    background-color: #d0f8ffc2;
    transition: all 0.4s ease-in;
    color: #000000b8;
    transform: scale(1.03);
    backdrop-filter: none;
    filter: none;
}
.footer-icons .icon-box-2 {
    display: flex;
    background-color: transparent;
    width: 100%;
    padding: 0.5%;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: auto;
}
.footer-icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    padding: 1%;
    margin-bottom: 2%;
}
.footer-icons li{
    list-style: none;
    margin-left: 10%;
    margin-top: 1%;
    width: 100%;
}
.footer-icons .links li:hover{
    transform: translateY(-8px);
    border-bottom: 0.4vh solid rgba(85, 187, 255, 0.925);
    color:#212A3F;
    border-radius: 0.4vh;
    transition: all 0.2s ease-in ;
    padding: 4px;
}
.footer-icons .links li:hover  a{
    color:#7196eb;
}
.footer-icons .links a{
    text-decoration: none;
    font-family: 'Optima';
    color: var(--text-color);
    width: max-content;
    display: flex;
}
.footer-icons .links{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 4%;
    width: 100%;
}
.footer-icons h4{
    font-family: 'Didact Gothic';
}
.footer-icons .icon-box-2 li{
    width: 9vh;
    height: 9vh;
    background-color: transparent;
    border-radius: 0.5vh;
    margin: 1%;
    margin-left: 8%;
    list-style: none;
    overflow: hidden;
    display: flex;
}
.footer-icons .icon-box-2 li a{
    width: 100%;
    height: auto;
    padding: 4%;
}
.footer-icons .icon-box-2 li a img{
    width:100%;
    height: auto;
    filter: saturate(240%);
}
.footer-icons .icon-box-2 li:hover{
    transition: all 0.2s ease-in ;
    transform: translateY(-4px) scale(1.09);
    filter:saturate(100%) brightness(120%);
}
.footer-details{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;
}
.footer-details li{
    width: 5vh;
    height: 5vh;
    list-style: none;
    display: flex;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 4vh;
    margin: auto;
    margin-bottom: 1%;
    box-shadow: 0px 0px 8px rgba(117, 117, 117, 0.185);
}
.footer-details li a{
    width: 100%;
    height: auto;
    color: var(--text-color);
}
.footer-details li a img {
     width: 100%;
}
.Contact{
    width: 100%;
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}
.Contact .Contact-box{
    display: flex;
    height: auto;
    margin: auto;
    width: max-content;
    justify-content: center;
    text-align: center;
    display: block;align-items: center;
    /* padding: 4%; */
    padding-top: 1%;
    /* box-shadow: 0px 0px 4px whitesmoke; */
}
 footer .Contact .Contact-box li{
    width: 6vh;
    height: 6vh;
    background-color: transparent;
    border-radius: 0.5vh;
    margin: 0.5%;
   color: var(--text-color);
    list-style: none;
    overflow: hidden;
    display: flex;
    display: block;
    margin: auto;
}
.Contact .Contact-box li a{
    width: 100%;
    height: auto;
    padding: 4%;
    margin: auto;
    display: flex;
    display: block;
    color: var(--text-color);
}
.Contact .Contact-box li a img{
    width:100%;
    height: auto;
    filter: saturate(240%);
    
}
footer .Contact .Contact-box li a img:hover{
    filter: saturate(200%) brightness(116%);
    
}
footer .Contact .Contact-box li:hover{
  
    
    transform: translateY(-4px) scale(1.05);
}
footer .Contact li:hover ~ h6{
    transform: translateY(-10px);
}

  /* New Footer  */
@media only screen and (max-width: 990px) {
 
}
@media (max-width=> 320px) {
    .container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 0.8fr));
        gap: 10px;
    }
}
@media (max-width:768px) {
    .container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 0.8fr));
        gap: 20px;
    }
}
@media (max-width:450px) {
  .About{
    background-color: #ffffff;
    background-image: none;
    filter: opacity(100%);
    background-color: rgba(255, 255, 255, 0.603) ;
  }
.details {
        margin-top: 20vh;
        background-color: rgba(255, 255, 255, 0.603) ;
        border-left: 0.8vh solid rgba(71, 71, 71, 0.075);
        backdrop-filter: blur(100px);
    }
    .container {
        background-image: linear-gradient(90deg, rgba(255, 255, 167, 0.493), rgba(255, 255, 255, 0.445), rgba(255, 222, 152, 0.411), rgba(176, 239, 255, 0.699));
        backdrop-filter: opacity(110%);
    }
    .container .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 0.8fr));
        gap: 20px;
        padding: auto;
        margin: auto;
        overflow-wrap: break-word;
    }
    .container .box-container .box {
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        border-radius: 5px;
        background: #ffffff9a;
        text-align: center;
        padding: 16px 16px;
    }
    .container .box-container .box img {
        height: 50px;
    }
    .container .box-container .box h3 {
        color: #444;
        font-size: 18px;
        padding: 8px 0;
    }
    .container .box-container .box p {
        color: #777;
        font-size: 12px;
        line-height: 1.8;
    }
    .container .box-container .box .btn {
        margin-top: 10px;
        display: inline-block;
        background: #333333d2;
        color: #fff;
        font-size: 10px;
        border-radius: 5px;
        padding: 8px 20px;
    }
    .container .box-container .box .btn:hover {
        letter-spacing: 1px;
    }
    .container .box-container .box:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
        transform: scale(1.03);
    }
    .footer-icon{
        display: block;
        justify-content: center;
        margin: 10px;
    }
    .footer .Icon-box{
        width: 6vh;
        height: 6vh;
        border-radius: 8vh;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 0%;
    }
    .Icon-box-img{
        border-radius: 1vh;
    }
    .footer-icon-title{
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer-details-Nilakanth-photography{
        margin: auto;
        display: flex;
        padding-top: 2%;
    }
    .footer a{
        width: 6vh;
        height: 6vh;
    }
    .footer-img{
        width: 100%;
        filter: saturate(200%);
        height: auto ;
    }
    .icon-box{
        width: 8vh;
        height: 8vh;
    }
    .Icon-box-img{
        width: 4vh;
        height: 4vh;
    }
     .footer-update .footer-gallery{
        display: block;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: norepeat(3, 5vw);
        grid-gap: 5px;
        margin-bottom: 1%;
        padding: 4%;
        width: 100%;
    }
}
@media (max-width: 960px) {
    .Service {
        min-width: 10vw;
        height: auto font-size: 12px;
        padding: 8%;
    }
    .Service-box {
        background-color: transparent;
    }
    nav .nav-bar .sidebarOpen {
        display: block;
    }
    .nav-bar .nav-links {
        justify-content: center;
        padding: 0%;
        margin: 0%;
    }
    .nav-bar .nav-links li a {
        padding: 0%;
        margin: 0%;
        color: #000000;
        width: 20vh;
    }
    .nav-bar .nav-links li {
        height: min-content;
        width: max-content;
        margin-top: 0.8vh;
       /* background-color: #fdfdfd86; */
       box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.158) ; 
        padding: 1vh;
        border-radius: 0.5vh;
    }
    .nav-bar .nav-links a:hover {
        background-color: transparent;
        box-shadow: none;
        opacity: 80;
        text-shadow: -0px 0px -80px rgba(78, 255, 246, 0.774);
    }
    .About {
        text-align: center;
        background-color: #ffe8d52d;
        align-items: center;
        color: #000000;
        width: 100%;
        margin-top: 10vh;
        border-radius: 1vh;
        justify-content: space-evenly;
        display: block;
    }
    .dark-light .nav-bar .nav-links .li a{
        color: whitesmoke;
    }
    .nav-links li:hover {
        transform: scale(1.01);
        background-color: transparent;
        box-shadow: 0px 0px 20px rgb(175, 175, 175) ;
        border: 0vh solid rgb(217, 255, 255);
        color: #000000;
        background-color:#c9fdf980 ;
        transition: all 0.3s ease-in-out;
        transform: scale(1.03);
    }
    .nav-links li a::before {
        content: '';
        height: 0.1px;
        position: absolute;
        left: 50%;
        backdrop-filter: blur(10px);
        top: auto;
        color: transparent;
        background-color: transparent;
        transition: all 0.4s ease-in;
    }
    .menu {
        position: fixed;
        height: 100%;
        width: 300px;
        left: -100%;
        top: 0;
        padding: 10px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s linear;
        justify-content: space-evenly;
        backdrop-filter: blur(4px) brightness(110%);
        border-radius: 1vh;
        margin: 0.8vh;
        box-shadow: 0px 0px 4px rgba(92, 91, 91, 0.699);
    }
    nav.active .menu {
        left: -0%;
    }
    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }
    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo-toggle .siderbarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }
    .nav-links li a {
        display: block;
        margin-top: 20px;
    }
    .footer .footer-update {
        display: block;
        flex-wrap: wrap;
     
        width: 100%;
        
        display: flex;
        height: max-content;
        justify-content: center;
    }
  
    .footer .footer-update .line{
    display: none;
    }
    .footer .footer-update .form{
    width: 100%;
    }


    .footer-update .footer-gallery{
        display: block;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: norepeat(5, 5vw);
        grid-gap: 5px;
        margin-bottom: 1%;
        padding: 4%;
    }
    .footer-icons {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        overflow: hidden;
}
.footer-icons .links{
        display: block;
}
.footer-icons .links li {
        width: 100%;
        margin: 1%;
        font-size: 12px;
        display: block;
       display: flex;
       justify-content: center;
}
  .footer-icons .links li a{
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
  }
.footer-icons .links li:hover{
transform: translateX(8px);
color:#212A3F;
border-radius: 0.4vh;
transition: all 0.2s ease-in ;
padding: 0.5px;
padding-left: 4%;
border:none;
   border-left: 0.4vh solid rgba(85, 187, 255, 0.925);   border-left: 0.4vh solid rgba(85, 187, 255, 0.925);
}
.footer-icons .links li:hover  a{
color:#7196eb;
}
}

@media (max-width: 1400px) {
    nav .nav-bar {
        position: relative;
        height: 100%;
        max-width: 2000px;
        width: auto;
        background-color: var(--nav-color);
        margin: 0 auto;
        padding: 0 4px;
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
        text-align: center;
        border-radius: 0.8rem;
    }
    .logo {
        left: 4px;
    }
    li {
        width: max-content;
    }
 
}
@media (max-width: 2000px) {
    nav .nav-bar {
        position: relative;
        height: 100%;
        max-width: 2000px;
        width: auto;
        background-color: var(--nav-color);
        margin: 0 auto;
        padding: 0 4px;
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
        text-align: center;
        border-radius: 0.8rem;
    }
    .logo {
        left: 1px;
        margin-right: 10%;
    }
    li {
        width: max-content;
    }
    .nav-links li a {
        position: relative;
        font-size: 15px;
        font-weight: 500;
        color: var(--text-color);
        text-decoration: none;
        padding: 10px;
        border-radius: 1vw;
    }
}
@media (max-width: 3000px) {
    .nav-bar {
        font-size: 20px;
    }
}
